<!doctype html>
<html lang="en-US">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>Cellphone Visualization</title>
    <!-- Load Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/loading-bar.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/jquery-ui.css" rel="stylesheet">
</head>

<body>
    <div ng-app="myApp" ng-controller="mapCtrl" class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form id="panel" class="form-inline">
                    <select name="type" id="input" class="form-control" required="required" ng-model="formData.type">
                        <!-- <option value="sql" selected="selected">Custom SQL</option>
                        <option value="url">Custom URL Parameter</option> -->
                        <option value="number" selected="selected">Number</option>
                        <option value="range">Range</option>
                    </select>
                    <select name="type" id="input" class="form-control" required="required" ng-model="formData.date">
                        <!-- <option value="sql" selected="selected">Custom SQL</option>
                        <option value="url">Custom URL Parameter</option> -->
                        <option value="2014-10-6" selected="selected">6 Oktober 2014</option>
                        <option value="2014-10-7" >7 Oktober 2014</option>
                        <option value="2014-10-8" >8 Oktober 2014</option>
                        <option value="2014-10-9" >9 Oktober 2014</option>
                        <option value="2014-10-10" >10 Oktober 2014</option>
                        <option value="2014-10-11" >11 Oktober 2014</option>
                        <option value="2014-10-12" >12 Oktober 2014</option>
                    </select>
                    <input type="text" name="number" placeholder="MSISDN" id="autocomplete" class="form-control" value="" required="required" ng-model="formData.number" ng-show="checkFilterNumber()">
                    <input type="text" name="limit" placeholder="Number count"  class="form-control" value="" required="required" ng-model="formData.limit" ng-show="!checkFilterNumber()">
                    <input type="text" name="offset" placeholder="Offset"  class="form-control" value="" required="required" ng-model="formData.offset" ng-show="!checkFilterNumber()">
                    <!-- <input type="text" name="data" id="input" class="form-control" value="" required="required" ng-model="formData.data" style="width:50%;"> -->
                    <!-- <div class="checkbox">
                        <label>
                            <input type="checkbox" value="1" name="polyline" ng-model="formData.polyline"> Show Polyline
                        </label>
                    </div> -->
                    <button type="button" class="btn btn-default" ng-click="filter(formData)">Execute</button>
                </form>
            </div>
        </div>
        <map class="overlay" center="-8.4095180,115.1889160" zoom="10" disable-default-u-i="false" disable-double-click-zoom="false" draggable="true" draggable-cursor="help" dragging-cursor="move" keyboard-shortcuts="false" tilt="45" map-type-id="ROADMAP">
            <div ng-repeat="(key,value) in datas">
                <marker ng-repeat="(k, data) in value" position="[{{data.Lat}}, {{data.Long}}]" id="{{data.Lat}}{{data.Long}}" title="{{data.Tanggal}} {{data.Jam}}" draggable="false" visible="true" clickable="true" icon="img/marker.png" category="{{data.MSISDN}}">

                </marker>
            </div>
            <!-- <marker ng-repeat="(key, data) in datas" position="[{{data.Lat}}, {{data.Long}}]" id="{{data.Lat}}{{data.Long}}" title="{{data.Tanggal}} {{data.Jam}}" draggable="false" visible="true" clickable="true" icon="img/marker.png" category="{{data.MSISDN}}">
            </marker> -->
            <!-- <shape id="line" name="polyline" geodesic="true" stroke-color="#FF0000" stroke-opacity="1.0" stroke-weight="2" path="{{path}}"></shape> -->
        </map>
    </div>
    <!-- Load Javascript Libraries (AngularJS, JQuery, Bootstrap) -->
    <script src="js/angular.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="js/ng-map.min.js"></script>
    <script src="js/loading-bar.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <!-- There will be our javascript Application here -->
    <!-- AngularJS Application Script Part -->
    <script>
    var app = angular.module('myApp', ['ngMap', 'angular-loading-bar']);
    app.controller('mapCtrl', function($scope, $http) {
        $scope.formData = {
            'type' : 'number',
            'date' : '2014-10-6',
            'number' : '62811100261',
            'limit' : null,
            'offset': null
        };
        /* Load 100 data secara default */
        /*$http.get("http://lumen.fitra.local/filter/"+$scope.formData.date+"/"+$scope.formData.number)
            .success(function(response) {
                $scope.datas = response;
            });*/

        $http.get("http://lumen.fitra.local/phones")
            .success(function(response) {
                $scope.phones = response;
                var tags = $scope.phones;
                $( "#autocomplete" ).autocomplete({
                  source: function( request, response ) {
                          var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
                          response( $.grep( tags, function( item ){
                              return matcher.test( item );
                          }) );
                      },
                    select: function(event, ui) {
                        $scope.formData.number = ui.item.value;
                        return false;
                      }
                });
            });


        /* Custom setting  */
        $scope.filter = function(formData) {
            if (formData.type == 'number') {
                $http.get("http://lumen.fitra.local/filter/" + formData.date + "/"+formData.number )
                    .success(function(response) {
                        $scope.datas = response;
                    });
            } else {
                $http.get("http://lumen.fitra.local/filter/" + formData.date + "/"+formData.limit + "/"+ formData.offset )
                    .success(function(response) {
                        $scope.datas = response;
                    });
            }
        };

        $scope.checkFilterNumber = function() {
            if ($scope.formData.type == 'number') {
                return true;
            }
            return false;
        }

        function drawPolyline(formData) {
            // polyline handler
            if (formData.polyline) {
                $scope.path = '[';
                if (formData.polyline == 1) {
                    // generate lat long array
                    angular.forEach($scope.datas, function(value, key) {
                        $scope.path += '[' + value.Lat + ',' + value.Long + ']';
                        if (key != $scope.datas.length - 1)
                            $scope.path += ', ';
                    });

                }
                $scope.path += ']';
                $scope.map.shapes.line.setMap($scope.map);
            } else {
                $scope.path = '';
                $scope.map.shapes.line.setMap(null);
            }
        }
    });
    </script>
    <!-- End of AngularJS Application Script Part -->
</body>

</html>
